.TituloSobreMi{
    text-align: center;
    font-family: Indie Flower;
    margin-top: 2%;
}

.TextoSobreMi{
    display: block;
    text-align: center;
    font-family: Indie Flower;
    margin-top: 4%;
}

