.ViajesConteiner{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px, solid rgb(255, 255, 255);
    border-radius: 2px ;
    padding: 5px;
}
.ViajesArgentina{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2%;
    
}

h4{
    
    text-align: center;
    align-content: center;
    margin-bottom: 1%;
   
    
}
h6{
    
    text-align: center;    
    margin-left: 15px;
    margin-top: 10px;


}
.TextoViajes{
   display: flex;
   width: auto;
   align-items: center;
   text-align: center;  
}

.CerrosBariloche{
    display: grid;
    grid-template-columns: auto;
    justify-content: center;
    padding-bottom: 4px;
    flex-direction: row;
}